.presentation {
  background: var(--primary-bg);
}

.infoCard {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;
}

.about {
  padding-top: 180px;
  padding-bottom: 100px;

  background: var(--secondary-bg);
}

.presentationBlog {
  padding-top: 30px;
  padding-bottom: 60px;

  background: var(--presentation-blog-bg);
}

.presentationMap {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--primary-bg);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background: var(--secondary-bg);
}
