.header {
  position: sticky;
  top: 0;
  z-index: 1200;

  width: 100%;

  background: var(--primary-bg);
  border-bottom: rgba(0, 0, 0, 1);
}

.container {
  display: flex;
  align-items: center;

  padding: 18px 10px;
}

.title {
  display: flex;
  gap: 12px;

  font-size: 20px;
  color: #000;
  text-decoration: none;
}

.links {
  display: flex;
  gap: 16px;

  margin: 0 55px;
}

.links a {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;

  color: var(--light-dark);
}

.links a:hover {
  text-decoration: underline;
}

.socials {
  display: flex;
  justify-content: flex-end;
  gap: 18px;

  margin-left: auto;
}

.socials a {
  font-size: 24px;
  color: var(--light-dark);
}

@media only screen and (max-width: 900px) {
  .container {
    justify-content: space-between;
  }

  .links {
    margin: 0;
  }

  .links a {
    font-size: 18px;
  }

  .socials {
    display: none;
  }
}
