.header {
  position: sticky;
  top: 0;
  z-index: 1200;

  width: 100%;

  background: var(--primary-bg);
  border-bottom: rgba(0, 0, 0, 1);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 10px;
  font-size: 20px;
}

.link {
  color: #000;
  text-decoration: none;
}

.titleLink {
  letter-spacing: 1.5px;
}

.discoverLink:hover {
  text-decoration: underline;
}

.link span {
  font-weight: 300;
}
