.link {
  display: block;

  font-weight: 600;
  font-size: 16px;
  text-align: center;
  text-decoration: none;

  background: var(--button-color);

  border-radius: 32px;
  color: #343434;

  padding: 16px;
  width: 240px;
}
