.container {
  padding: 0 10px;
}

.info {
  margin-top: 30px;
  margin-bottom: 10px;
}

.info h2 {
  font-size: 40px;
  margin-bottom: 8px;
}

.info h4 {
  color: var(--light-dark);

  font-size: 16px;
  letter-spacing: 1.1px;
}

.blog {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.blog a {
  margin-top: 35px;
}

.posts {
  width: 100%;

  display: flex;
  gap: 32px;
}

.post {
  display: flex;
  flex-direction: column;
  flex: 1;

  width: 100%;
  height: 500px;

  color: var(--light-dark);
  text-decoration: none;
}

.postImage {
  height: 400px;
  overflow: hidden;
}

.postImage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.postInfo {
  background: var(--card-color);
  padding: 28px;

  border: 1px solid rgba(0, 0, 0, 0.15);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.postInfo h3 {
  font-size: 28px;
}

.author {
  margin-top: 20px;
}

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-top: 30px;

  color: var(--light-dark);
  opacity: 0.8;
}

.notFound h4 {
  font-size: 22px;
  margin-top: 12px;
}

.notFound img {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

@media only screen and (max-width: 900px) {
  .posts {
    flex-direction: column;
  }

  .postInfo {
    padding: 18px;
  }

  .author {
    font-size: 14px;
  }
}
