.header {
  width: 100%;
  background: transparent;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 18px 10px;
  font-size: 26px;
}

.link {
  color: #000;
  text-decoration: none;
}

.titleLink {
  letter-spacing: 1.5px;
}

.discoverLink:hover {
  text-decoration: underline;
}

.link span {
  font-weight: 300;
}
