.container {
  width: 100%;
  height: 900px;

  border-radius: 16px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 100%;
}

.filters {
  display: flex;
  flex-direction: column;

  gap: 8px;
  font-size: 20px;
}

.filters label input {
  margin-right: 10px;
}
